.content {
  line-height: 1.75;
  max-width: 38rem;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-weight: bold;
  line-height: 1.25;
  color: var(--fg);
  text-rendering: optimizeLegibility;
  position: relative;
}
.content h1 {
  font-size: 2rem;
  margin: 1.5rem 0 0.5rem;
}
.content h2 {
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem;
}
.content h3 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}
.content h4 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
}
.content h5 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
}
.content h6 {
  font-size: 1rem;
  margin: 1rem 0 0.5rem;
}

.content p {
  margin: 0 0 1rem;
}

.content a:hover {
  text-decoration: underline;
}

.content ul,
.content ol,
.content dl {
  margin: 0 0 1rem;
  padding-left: 2rem;
}
.content li {
  margin: 0;
}
.content dt {
  font-weight: bold;
}
.content dd {
  margin-bottom: 0.5rem;
}

.content hr {
  margin: 1.5rem 0;
}

.content code {
  font-family: var(--font-mono);
  padding: 0.15em 0.3em;
  font-size: 85%;
  color: var(--fg);
  background: var(--accent);
  border-radius: var(--radius);
}
.content pre {
  font-family: var(--font-mono);
  margin: 0 0 1rem;
  padding: 0.6rem;
  font-size: 0.875rem;
  line-height: 1.4;
  overflow-x: auto;
  background: var(--accent);
  border: 1px solid var(--border);
  border-radius: var(--radius);
}
.content pre code {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-size: 100%;
  color: inherit;
  background: transparent;
  border: none;
}
.content .highlight {
  margin-bottom: 1rem;
  border-radius: var(--radius);
}
.content .highlight pre {
  margin-bottom: 0;
}

.content blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: var(--muted);
  border-left: 0.25rem solid var(--border);
}
.content blockquote p:last-child {
  margin-bottom: 0;
}

.content img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  border-radius: 4px;
}

.content table {
  margin-bottom: 1rem;
  width: 100%;
  border-collapse: collapse;
}
.content td,
.content th {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--border);
}
.content tbody tr:nth-child(odd) td,
.content tbody tr:nth-child(odd) th {
  background: var(--accent);
}

.content h2::before {
  content: "##";
}
.content h3::before {
  content: "###";
}
.content h4::before {
  content: "####";
}
.content h5::before {
  content: "#####";
}
.content h6::before {
  content: "######";
}
.content h2::before,
.content h3::before,
.content h4::before,
.content h5::before,
.content h6::before {
  position: absolute;
  right: calc(100% + 0.4em);
  opacity: 0;
  transition: opacity 0.15s;
}
.content h2:hover::before,
.content h3:hover::before,
.content h4:hover::before,
.content h5:hover::before,
.content h6:hover::before {
  opacity: 0.35;
}

.content .zola-anchor {
  text-decoration: none;
  color: inherit;
}


