{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ page.title }} — {{ config.title }}{% endblock %}
{% block og_title %}{{ page.title }} — {{ config.title }}{% endblock %}
{% block twitter_title %}{{ page.title }}{% endblock %}
{% block content %}

<h1 class="title">{{ page.title }}</h1>

{{ macros::post_meta(page=page) }}

<div class="post-layout">
  <div class="post-content content">{{ page.content | safe }}</div>
  <div class="post-toc">{% include "toc.html" %}</div>
</div>

<nav class="post-nav">
  {% if page.later %}
  <a href="{{ page.later.permalink | safe }}">&larr; {{ page.later.title }}</a>
  {% else %}
  <span></span>
  {% endif %}
  {% if page.earlier %}
  <a href="{{ page.earlier.permalink | safe }}">{{ page.earlier.title }} &rarr;</a>
  {% else %}
  <span></span>
  {% endif %}
</nav>

{% endblock content %}
