{% extends "base.html" %} {% import "macros.html" as macros %} {% block content
%}
<h1 class="title">{{ page.title }}</h1>

{% if page.extra.author %}
<p class="subtitle">
  <strong>By {{ page.extra.author }}</strong> {% if page.extra.original_url %}
  &middot;
  <a href="{{ page.extra.original_url }}" target="_blank">Original source ↻</a>
  {% endif %}
</p>
{% endif %} {{ macros::post_meta(page=page) }} {{ macros::language_switcher(page=page) }}

<div class="post-layout">
  <div class="post-toc">{% include "toc.html" %}</div>
  <div class="post-content content">{{ page.content | safe }}</div>
</div>
<a class="back-to-top-mobile" href="#"
  >&uarr; {{ trans(key="back_to_top", lang=lang) }}</a
>
{% endblock content %}
