{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>

{% set categories = ["Go", "Kubernetes", "Containers", "Systems",
"Observability"] %} {% for cat in categories %}
<h2>{{ cat }}</h2>
<ul>
  {% for page in section.pages %} {% if cat in page.taxonomies.category %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    {% if page.description %} &middot; {{ page.description }}{% endif %}
  </li>
  {% endif %} {% endfor %}
</ul>
{% endfor %} {% endblock content %}
