{% extends "base.html" %} {% import "macros.html" as macros %} {% block content
%}
<h1 class="title">{{ page.title }}</h1>

{% if page.extra.author %}
<p class="subtitle">
  <strong>By {{ page.extra.author }}</strong> {% if page.extra.original_url %}
  &middot;
  <a href="{{ page.extra.original_url }}" target="_blank">Original source ↻</a>
  {% endif %}
</p>
{% endif %} {{ macros::post_meta(page=page) }} {% if page.translations %}
<p>
  {% for t in page.translations %} {% if t.lang != lang %}
  <a href="{{ t.permalink | safe }}"
    >{{ trans(key="lang_" ~ t.lang, lang=lang) }}</a
  >
  {% endif %} {% endfor %}
</p>
{% endif %}

<div class="post-layout">
  <div class="post-content content">{{ page.content | safe }}</div>
  <div class="post-toc">{% include "toc.html" %}</div>
</div>
{% endblock content %}
